footer {
  background-color: $colorDarkBg;
  border-bottom-right-radius: $frameCornerRadius;
  border-bottom-left-radius: $frameCornerRadius;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  a, a:visited {
    font-weight: bold;
    color: white;
  }
}