#details {
  display: flex;
  flex-direction: row;
  @media (screen and max-width: $widthMobileMax) {
    flex-direction: column-reverse;
  }

  > main {
    padding: 20px;
    @media (screen and min-width: $widthMobileMax) {
      border-top-right-radius: $frameCornerRadius;
      border-bottom-right-radius: $frameCornerRadius;
    }
    background-color: white;
  }

  > aside {
    min-width: 180px;
    color: white;
    padding: 20px;

    > h3 {
      text-align: center;
    }

    > ul {
      list-style: none;
      padding-left: 0;

      > li {
        background-color: $colorBg;
        border-radius: 5px;
        margin-bottom: 10px;

        > div {
          border-radius: 5px;
          background-color: $colorProgressBar;
          line-height: 20px;

          > span {
            color: white;
            font-weight: 500;
            padding-left: 10px;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

.header {
  position: relative;
  text-align: center;
  border-bottom: dotted 1px;
  margin-bottom: 30px;

  > h3 {
    display: inline;
    background-color: white;
    position: relative;
    top: 10px;
    padding: 0 10px;

    > i {
      margin-right: 5px;
    }
  }
}

dl {
  > dt {
    position: relative;
    top: 18px;
    left: 30px;
    display: inline-block;
    background-color: white;
    padding: 0 5px;
    font-weight: bold;
  }

  > dd {
    border: solid 1px $colorProgressBar;
    border-radius: 10px;
    padding: 20px 40px 10px;
    margin: 10px 0;
  }
}

dl.experience {
}