@media print {
  @page {
    size: auto;
    margin: 40px;
  }
  body {
    background-color: white;
    > .wrapper {
      background-color: $colorBrightText;
    }
  }
  main {
    > div {
      &:nth-of-type(5) {
        break-before: page;
        page-break-before: always;
      }
    }

    dl.philosophy {
      > dd {
        padding: 10px 40px 10px;
      }
    }

    dl.experience {
      dt {
        top: 10px;
      }
      dd {
        margin: 0 0 45px 0;
        padding: 20px 40px 20px;
      }
    }
  }
  #details {
    > aside {
      color: $colorDarkBg;
    }
  }
  header {
    background-color: $colorBrightText;
    color: $colorDarkBg;
    > div {
      > ul {
        &:nth-of-type(1) > li:first-child {
          display: none;
        }
        > li {
          color: $colorDarkBg;
          > a, a:visited {
            color: $colorDarkBg;
          }
        }
      }
    }
  }
  footer {
    background-color: $colorBrightText;
    color: $colorDarkBg;
    > p:nth-of-type(1) {
      display: none;
    }

    &:after {
      content: "Check https://mbn18.github.io/resume for the latest version";
    }
  }
}
