@media print {
  @page {
    size: A3 portrait;
    margin: 40px;
  }
  body {
    background-color: white;
  }
  main {
    > div {
      &:nth-of-type(5) {
        break-before: page;
        page-break-before: always;
      }
    }
  }
  header {
    > div {
      > ul {
        &:nth-of-type(1) > li:first-child {
          display: none;
        }
      }
    }
  }
  footer {
    > p:nth-of-type(1) {
      display: none;
    }

    &:after {
      content: "Check https://mbn18.github.io/resume for the latest version";
    }
  }
}
