body {
  font-family: 'Lato', sans-serif;
  background-color: $colorBg;
}

body > .wrapper {
  background-color: $colorDarkBg;
  @media (screen and min-width: $widthDesktopMax) {
    border-radius: $frameCornerRadius;
  }
}

a:hover {
  text-decoration: underline;
}

@media (screen and min-width: $widthDesktopMax) {
  body > .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
}