body {
  font-family: "Lato", sans-serif;
  background-color: #EEEEEE;
}

body > .wrapper {
  background-color: #212121;
}
@media (min-width: 1024px) {
  body > .wrapper {
    border-radius: 15px;
  }
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  body > .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
}
header {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #212121;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
}
header > div:nth-child(2) {
  padding: 5px 20px;
}
@media (min-width: 1024px) {
  header > div > img {
    border-top-left-radius: 15px;
  }
}
@media (max-width: 768px) {
  header > div > img {
    border-bottom-right-radius: 15px;
  }
}
header > div > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 5px 0;
}
@media (max-width: 768px) {
  header > div > ul {
    justify-content: center;
  }
}
header > div > ul > li {
  list-style: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  color: #ffffff;
  font-weight: bold;
}
header > div > ul > li > a, header > div > ul > li a:visited {
  color: #ffffff;
  text-decoration: none;
}
header > div > ul > li > i {
  margin-right: 10px;
}
header > div > ul:nth-of-type(1) > li:first-child > a {
  color: #FF6F36;
}

#details {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  #details {
    flex-direction: column-reverse;
  }
}
#details > main {
  padding: 20px;
  background-color: white;
}
@media (min-width: 768px) {
  #details > main {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
#details > aside {
  min-width: 180px;
  color: #ffffff;
  padding: 20px;
}
#details > aside > h3 {
  text-align: center;
}
#details > aside > ul {
  list-style: none;
  padding-left: 0;
}
#details > aside > ul > li {
  background-color: #EEEEEE;
  border-radius: 5px;
  margin-bottom: 10px;
}
#details > aside > ul > li > div {
  border-radius: 5px;
  background-color: #FF6F36;
  line-height: 20px;
}
#details > aside > ul > li > div > span {
  color: white;
  font-weight: 500;
  padding-left: 10px;
  font-size: 0.8em;
}

.header {
  position: relative;
  text-align: center;
  border-bottom: dotted 1px;
  margin-bottom: 30px;
}
.header > h3 {
  display: inline;
  background-color: white;
  position: relative;
  top: 10px;
  padding: 0 10px;
}
.header > h3 > i {
  margin-right: 5px;
}

dl > dt {
  position: relative;
  top: 18px;
  left: 30px;
  display: inline-block;
  background-color: white;
  padding: 0 5px;
  font-weight: bold;
}
dl > dd {
  border: solid 1px #FF6F36;
  border-radius: 10px;
  padding: 20px 40px 10px;
  margin: 10px 0;
}

footer {
  background-color: #212121;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
}
footer a, footer a:visited {
  font-weight: bold;
  color: white;
}

@media print {
  @page {
    size: A3 portrait;
    margin: 40px;
  }
  body {
    background-color: white;
  }
  body > .wrapper {
    background-color: #ffffff;
  }
  main > div:nth-of-type(5) {
    break-before: page;
    page-break-before: always;
  }
  main dl.philosophy > dd {
    padding: 10px 40px 10px;
  }
  main dl.experience dd {
    margin: 0;
    padding: 10px 40px 2px;
  }
  #details > aside {
    color: #212121;
  }
  header {
    background-color: #ffffff;
    color: #212121;
  }
  header > div > ul:nth-of-type(1) > li:first-child {
    display: none;
  }
  header > div > ul > li {
    color: #212121;
  }
  header > div > ul > li > a, header > div > ul > li a:visited {
    color: #212121;
  }
  footer {
    background-color: #ffffff;
    color: #212121;
  }
  footer > p:nth-of-type(1) {
    display: none;
  }
  footer:after {
    content: "Check https://mbn18.github.io/resume for the latest version";
  }
}

/*# sourceMappingURL=style.css.map */
